In [24]:
## Operaters in python

#4 Logical operaters - (and, or, not)- check weather a condition is true or false

#and operator (if both the input are true then the ouput is true or else the output is false)

print(10<50 and 20<100)  # 10 less than50 and 20 less then 100, so if both the conditions are true then the outcome willl be true

print(10>5 and 5<3)   # bc the 2nd condition is false so the total output is false

print(20>10 and 30>10)

# or operators

print(5>6 or 8<9) # bc the 2nd input is true so the optput is true in this only 1 input needs to be true.

print(5>3 or 5>4)

# not operators -- just reverse the condition

print(not(10<50))   # 10 is less than 50 but not makes true-- false and false -- true

print(not(5>1))

True
False
True
True
True
False
False

In [18]:
# Identity  -- Check if they are same objects or not - Memory location(is and is not)

a = 10
b = 20
a is b

False

In [21]:
a = 10
b = 10

a is b

True

In [22]:
a = 10
print(id(a))
print(a)
b = 10
print(id(b))
print(b)
a is b

1722015181392
10
1722015181392
10

True

In [29]:
a= [1,2,3]
b= [1,2,3]   
c= a

print (a is c)  # (same memory location) is is used to know that weather the object has same "memory location" or not
print(a is b)   #(different memory location)
print(a==b) # (comparision operator)== is used to know weather the objects has "samevalue" or not

print(id(a))
print(id(b))
print(id(c))

True
False
True
1722101849344
1722130242496
1722101849344

In [3]:
a = [1,2,3,"hi"]  ## indexing
b = [1,2,3]
c = a 
print(a[-1])
print(b[-1])
print(b[0])

print(a is b)
print(a is c)
print(a==b)

print(id(a))
print(id(b))
print(id(c))

hi
3
1
False
True
False
1875249080320
1875249080000
1875249080320

In [77]:
# Checking the number of times a has apprearedin the sentance
j="shaheed rajguru college of apllied science"
word="a"
f="e"
count=0
string= j.split()
print(string)
for x in string:
    print(x)
    c=list(x)
    print(c)
    if word in c:
        count+=1
    else:
        print("a and both are not found")
print(count)

['shaheed', 'rajguru', 'college', 'of', 'apllied', 'science']
shaheed
['s', 'h', 'a', 'h', 'e', 'e', 'd']
rajguru
['r', 'a', 'j', 'g', 'u', 'r', 'u']
college
['c', 'o', 'l', 'l', 'e', 'g', 'e']
a and both are not found
of
['o', 'f']
a and both are not found
apllied
['a', 'p', 'l', 'l', 'i', 'e', 'd']
science
['s', 'c', 'i', 'e', 'n', 'c', 'e']
a and both are not found
3

In [82]:
a = float(input("enter a"))
b = float(input("enter b"))
c = int(input("enter c"))

if a>b and a>c:
    print("largest value is",a)
elif b>a and b>c:
    print("largest value is", b)
else:
    print("largest value is", c)

enter a0.6
enter b7.8
enter c6
largest value is 7.8

In [4]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

t="hey!! Payal this side"

y= t.split()
print(y)

['welcome', 'to', 'the', 'jungle']
['hey!!', 'Payal', 'this', 'side']

In [86]:
# Check which one is the greatest value
x = int(input("apple a"))
y = int(input("banana b"))
z = float(input("chiku c"))
if x>y and x>z:
    print("greatest value is",x)
elif y>x and y>z:
    print("greatest value is", y)
else:
    print("greatest value is", z)

apple a4
banana b5
chiku c6
greatest value is 6.0

In [ ]:
# Check which one is the greatest value
x = int(input("apple a"))
y = int(input("banana b"))
z = float(input("chiku c"))
if x<y and x<z:
    print("greatest value is",x)
elif y<x and y<z:
    print("greatest value is", y)
else:
    print("greatest value is", z)

In [ ]:
# Arrange the given numbers in ascending foam
x = int(input("put x"))
y = int(input(" put y"))
z = int(input("put z"))

if x>y and x>z:
    if y>z:
        print("value is in ascending order", z,y,x )
    else:
        print("value is in ascending order", y,z,x )
elif y>z and y>x:
    if z>x:
        print("value is in ascending order", x,z,y)
    else:
        print("value is in ascending order", z,x,y)
else:
    if x>y:
        print("value is in ascending order" , y,x,z)
    else:
        print("value is in ascending order" , x,y,z)

In [ ]:
x = int(input("put x"))
y = int(input(" put y"))
z = int(input("put z"))

if x>y and x>z:
    if y>z:
        print("value is in ascending order", z,y,x )
    else:
        print("value is in ascending order", y,z,x )
elif y>z and y>x:
    if z>x:
        print("value is in ascending order", x,z,y)
    else:
        print("value is in ascending order", z,x,y)
else:
    if x>y:
        print("value is in ascending order" , y,x,z)
    else:
        print("value is in ascending order" , x,y,z)

In [ ]:
#check weather the given number is even or odd
a = int(input("put a"))
b = int(input("put b"))


if a%2==0
   print("this is even number", a)
else:
    print("this is odd number", b)

In [12]:
# Membership  (in and not in ) Check if a sequence is present inan object.

a = [1,2,3,4,5,6,7,8,9,]
print(4 in a)  # when you write print it will show all the output of where print is there.
print(3 not in a)
[4,5] in a # false bc  you can check for a single digit only.

True
False

False

In [7]:
b =[22,42,55,77,67,96]
22 in b

True

In [16]:
# Variables in Python 
# rules for variabeles ( no special character,not start with numbers or have space in b/w; only capital and small letters and underscore(_))
# valid variable names - are just used to denote something
_payal = 10
payal = 3
Payal = 9
print(_payal)
print(payal)
print(Payal)

10
3
9

In [17]:
# invalid vaiables names
*z= 6
@payal = 7

SyntaxError: invalid syntax (780434826.py, line 3)

In [22]:
# Python Data Type 
# 1. Numbers

type(10)

int

In [27]:
print(type(10))
print(type(0.44))
print(type(3+6j))

print(type(10))
print(type(7+5j))
print(type(0.44))
# these are 3 types on numbers

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'int'>
<class 'complex'>
<class 'float'>

In [24]:
#2. String--  (red in colour) anything that you have in double or single couts '' ; "" is a string . This can be:
'12344'
'India'
'@@#$$'

'@@#$$'

In [25]:
print('12344')
print('India')
print('@@#$$')  # see when yoou have not written print in the above case you only got one output of the last input but when you have added print u got output of all input

12344
India
@@#$$

In [26]:
print(type('12344'))
print(type('India'))
print(type('@@#$$'))  # type is used to know what that data type is

<class 'str'>
<class 'str'>
<class 'str'>

In [30]:
# Exercise-- Create 3 variables assign a integer, float and string to them and check their type
a=23
b= 0.66
c= 'Crazy love'

print(type(a))
print(type(b))
print(type(c))

print(type(23))
print(type(0.76))
print(type("hello there"))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

In [41]:
#3. Lists-- its a collection of object that is  in []
# -- mutable ( the elements can be changed / you can change the content of the objects )

a = [1,2,3,4,5,6]
print(a)
print(type(a))
print(a[0])  # indexing

n= [2,3,56,7,7]
print(n)
print(type(n))
print(n[-1])

[1, 2, 3, 4, 5, 6]
<class 'list'>
1
[2, 3, 56, 7, 7]
<class 'list'>
7

In [37]:
#4. Tuples --- Immutable (you cannot change the elements / content of the objects)
# if you put the elements in round bracket it becomes a tuple

a = (1,1,2,3,4,5)
print(a)
print(type(a))


b=(44,66,77,33,55)
print(b)
print(type(b))

(1, 1, 2, 3, 4, 5)
<class 'tuple'>
(44, 66, 77, 33, 55)
<class 'tuple'>

In [47]:
#5. Sets  -- Unordered and no duplicates: immutable; no indexing

a = {1,34,55,0,8,53,33,33,33,3,3}
print(a)
print(type(a))
print(a)

b= {33,55,6,688,99,44,666,7}
print(b)
print(type(b))
print(b)

{0, 1, 34, 3, 33, 8, 53, 55}
<class 'set'>
{0, 1, 34, 3, 33, 8, 53, 55}
{33, 99, 6, 7, 44, 688, 55, 666}
<class 'set'>
{33, 99, 6, 7, 44, 688, 55, 666}

In [53]:
#6. Dictionaries : Key value pairs

a = {'a': 10, 'b':30, 'c': 40, 'v':50}
print(a)
print(type(a))

print(a.keys())
print(a.values())


b= { 4:'d', '7': 5}
print(b)
print(type(b))
print(b.keys())   # the 1st letter is always a key and the 2nd is a value
print(b.values())

{'a': 10, 'b': 30, 'c': 40, 'v': 50}
<class 'dict'>
dict_keys(['a', 'b', 'c', 'v'])
dict_values([10, 30, 40, 50])
{4: 'd', '7': 5}
<class 'dict'>
dict_keys([4, '7'])
dict_values(['d', 5])

In [77]:
## Indedxing is imp --if u want to extract table within a table sentence within a sentance, it helps.
a= ['I','N','D','I','A','N']
print(a)
print(type(a))
print(a[-1])

#exercise
#IND
print(a[0:3])
print(a[-6:-3])

#NDIAN
print(a[1:])
print(a[-5: ])

#NDI
print(a[1:4])
print(a[-5:-2])

#INDI
print(a[ :4])
print(a[ -6:-2])

#DIA 
print(a[2:5])
print(a[-4:-1])

#INDIAN
print(a[ : ])
print(a[-6:])
a =[1,2,3,4]
print(a[0])

['I', 'N', 'D', 'I', 'A', 'N']
<class 'list'>
N
['I', 'N', 'D']
['I', 'N', 'D']
['N', 'D', 'I', 'A', 'N']
['N', 'D', 'I', 'A', 'N']
['N', 'D', 'I']
['N', 'D', 'I']
['I', 'N', 'D', 'I']
['I', 'N', 'D', 'I']
['D', 'I', 'A']
['D', 'I', 'A']
['I', 'N', 'D', 'I', 'A', 'N']
['I', 'N', 'D', 'I', 'A', 'N']
1

In [80]:
## simple mutability and immutability

a =[1,3,46,75,7]  # list
b =(1,3,46,75,7)  # tuple

print(a[2])  #indexing if only 1 object then without colon
print(a[2])

a[2] = 55
print(a)

b[2] = 55
print(b)  # bc tuple is immutable

46
46
[1, 3, 55, 75, 7]

TypeError: 'tuple' object does not support item assignment

In [83]:
a = [1,2,23,34,4,5]
b =(2,3,4,5,7)

print(a[4])
print(b[4])

a[4] = 66
print(a)
b[4] = 66
print(b)

4
7
[1, 2, 23, 34, 66, 5]

TypeError: 'tuple' object does not support item assignment

In [82]:
a = [1,2,3,4]

print(3 in a)
print(3 not in a)

True
False